<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>Automate Tasks with the Unix Shell</td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:45</td>  <td>Manage data with git/GitHub</td> </tr>
      <tr> <td>12:00</td>  <td>Break</td> </tr>
      <tr> <td>13:00</td>  <td>Analyze data in the Bash Shell</td> </tr>
      <tr> <td>14:00</td>  <td>Apply Git</td> </tr>
      <tr> <td>15:00</td>  <td>Break</td> </tr>
      <tr> <td>15:15</td>  <td>Q & A and Clinic (Bring/Discuss Your Own Data)</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Analyze data with R/R-Studio</td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:45</td>  <td>Plotting Data in R with ggPlot</td> </tr>
      <tr> <td>12:00</td>  <td>Break</td> </tr>
      <tr> <td>13:00</td>  <td>Cont. R/R-Studio Essentials</td> </tr>
      <tr> <td>14:00</td>  <td>Break</td> </tr>
      <tr> <td>14:15</td>  <td>Q & A and Clinic (Bring/Discuss Your Own Data)</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:15</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>

<!--
<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>Automating Tasks with the Unix Shell</td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:45</td>  <td>Version Control with git/GitHub</td> </tr>
      <tr> <td>12:00</td>  <td>Break</td> </tr>
      <tr> <td>13:00</td>  <td>Shell Tips & Tricks</td> </tr>
      <tr> <td>14:00</td>  <td>git Tips & Tricks</td> </tr>
      <tr> <td>15:00</td>  <td>Break</td> </tr>
      <tr> <td>15:15</td>  <td>Clinic: Bring Your Own Data</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Building Programs with R</td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>11:00</td>  <td>Plotting Data with ggPlot</td> </tr>
      <tr> <td>12:00</td>  <td>Break</td> </tr>
      <tr> <td>13:00</td>  <td>R/R-Studio Tips & Tricks</td> </tr>
      <tr> <td>14:00</td>  <td>Break</td> </tr>
      <tr> <td>14:15</td>  <td>Clinic: Bring Your Own Data</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:15</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
-->
