<p id="who">
  <strong>Who:</strong>
  The workshop is aimed at researchers, including graduate students, postdocs, staff and faculty.
  <strong>
    It targets computational novices and does not require any previous knowledge of the tools that will be introduced.
  </strong>
</p>


<!--
<p id="who">
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers.
  <strong>
    You don't need to have any previous knowledge of the tools
    that will be presented at the workshop.
  </strong>
</p>
-->
